/*main css here*/

/*Css goes here*/

#slide_welcome {
    background-image:url("../img/keyboard_bgd.jpg");
    min-height: 100vh;
    position: relative;
}

#name {
    font-family: robot-bold;
    font-size: 50pt;
    margin-top: 20px;
    color: white;
}

#description {
    font-family: robot-light;
    font-size: 30pt;
    margin-top: 20px;
    color: white;
}

#home_btn_row {
    max-width: 700px;
    text-align: center;
}

#home_btn_row .btn {
    margin-top: 32px;
}

/*CSS for DESKTOP*/
@media only screen
    and (min-width : 877px) {

    #home_res_btn {
        margin-right: 48px;
    }

    #home_des_br,
    #home_btn_br {
        display: none;
    }
}


/* SECOND SLIDE */

#slide_about {
    background-color: #ffffed;
    padding: 75px 50px;
}

#about_header {
    font-family: robot-bold;
    font-size: 30pt;
    float: left;
}

#profile_div {
    width: 300px;
    position: relative;
}

#profile_div img {
    height: 300px;
    width: 300px;
}

#about_dwn_res {
    float: right;
    margin-bottom: 10px;
}

#about_text {
    margin-top: 50px;
}

/*CSS for phone*/
@media only screen
    and (max-width : 850px) {

    #slide_about {
        padding-left: 20px;
        padding-right: 20px;
    }

    #profile_div img {
        height: 200px;
        width: 200px;
    }

    #profile_div {
        width: 200px;
    }

}

/* SHOWCASE SLIDE CLASSES */

.showcase_slide {
    position: relative;
    min-height: 100vh;
    height: 100%;
    /*overflow: auto;*/
    /*display: block;*/
    /*padding: 50px;*/
}


.s_less {
    text-align: center;
    color: white;
    z-index: 0;
    /*display: none;*/
}

.s_less h1 {
    font-size: 50pt;
    margin-bottom: 30px;
}

.s_btn {
    margin: 50px 0 50px 0;
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    border: 5px white solid;
    background-color: transparent;

    color: white;
    font-size: 14pt;
}

.s_btn:hover {
    color: dimgrey;
    border-color: dimgrey;
    cursor: pointer;
}

.s_btn:active,
.s_btn:focus,
.s_btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*MORE ======*/

.s_more {
    width: 80%;
    height: 90%;
    /*min-height: 600px;*/
    color: white;
    text-align: center;
    position:relative;
    display: none;
    /*padding: 40px 0;*/
}

.s_more_left {
    float: left;
    width: 50%;
    height: 100%;
    position:absolute;
    overflow: hidden;
}

.s_more_images {
    position: absolute;
    height: 100%;
    width: 90%;

    /*right: -100%; /!*for animation*!/*/
    right: 10%;
}

.s_more_images_inside {
    position: relative;
    height: 100%;
}

.s_more_images .wide {
    max-width: 100%;
}

.s_more_images .tall {
    max-height: 60%;
}

.s_more_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s_more_img_right {
    right: 15%;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
}

.s_img_split_phone {
    /*left: auto;
    right: 0;
    top: auto;
    bottom: -10%;
    transform: none;*/
    transform: translate(100%);
    width: 20%;
    min-width: 90px;
    height: auto;
}

.s_more_centerline {
    display: inline-block;
    height: 50%;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 25%;
}

.s_more_right {
    float: right;
    width: 50%;
    height: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.s_more_content {
    position: absolute;
    top: 50%;
    width: 90%;
    transform: translateY(-50%);
    word-wrap: break-word;
    padding: 20px 0;

    /*For animation*/
    /*left: -125%;*/
    left: 10%;
}

.s_more_content h1 {
    margin-bottom: 10px;
}

.s_more_content h3 {
    margin-top: 0;
    font-size: 12pt;
    font-family: robot-light;
    margin-bottom: 30px;
}

.s_front {
    z-index: 1;
}

.s_back {
    z-index: 0;
}

/*SHOWCASE CSS for MOBILE*/
@media only screen
    and (max-width : 750px) {

    .s_more {

    }

    .s_more_left {
        float: none;
        width: 100%;
        height: auto;
        position: relative;
    }

    .s_more_images {
        right: auto;
        position: relative;
        height: 350px;
        margin: 0 auto;
    }

    .s_more_images .tall {
        max-height: 100%;
    }

    .s_more_img {
        position: relative;
    }

    .s_more_img_right {
        right: auto;
        top: auto;
        left: auto;
        transform: none;
    }

    .s_more_centerline {
        height: 1px;
        width: 50%;
        position: relative;
        top: auto;
        left: auto;
        display: block;
        margin: 25px auto;
    }

    .s_more_right {
        float: none;
        width: 100%;
        height: auto;
        position: relative;
    }

    .s_more_content {
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        transform: none;
        position: relative;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .s_more_content h1 {
        margin-top: 0;
    }

    .s_more_content .s_btn {
        margin: 25px 0 50px;
    }

}

/*CUSTOM SHOWCASE SLIDES*/

/*MTLIFE*/
#slide_mtlife {
    background-image: url("../img/mtlife_bgd.jpg");
}

#slide_mtlife_phone {

}

/*SUDOKU*/
#slide_sudoku {
    background-image: url("../img/slide_sudoku_bgd.jpg");
}

/* Contact Slide */

#slide_contact {
    background-image: url("../img/paper_background_1080p.jpg");
    background-attachment: scroll;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

#contact_body {
    text-align: center;
    color: black;
    width: 60%;
}

.contact_questions {
    font-size: 60pt;
    font-family: robot-light;
    margin: 25px 0 60px 0;
}

.contact_text {
    margin-bottom: 60px;
    text-align: center;
}

#email {
    font-size: 30pt;
    font-family: robot-light;
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media only screen and (max-width : 950px) {
    #contact_body {
        width: 90%;
    }
}


/*Object types*/

a.btn {
    text-align: center;
    background-color: #9fae80;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 16pt;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-transform: uppercase;
    font-family: robot-light;
    text-decoration: none;
}