html body {
    margin: 0;
    height: 100%;
    font-family: robot-reg;
}

.bgd {
    width: auto;
    background-size: cover;
    background-attachment: fixed;
}

/*Frequently used classes*/

.center-div {
    margin: 0 auto;
    max-width:1000px;
}

.center-div-hor {
    /*include the width of the div somewhere else in the div*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center-text {
    text-align:center;
}


.pos-fixed {
    position: fixed;
}

.pos-stat {
    position: static;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.circle-img {
    border-radius: 50%;
}

/*Begin centering*/
.block {
    text-align: center;
}

.block:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */

    /* For visualization
    background: #808080; width: 5px;
    */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    border: #a0a0a0 solid 1px;
}

/*End centering*/

/*Other centering method*/
/*Parent must be position:relative*/
.center-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*FONTS*/

@font-face {
    font-family: robot-reg;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robot-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robot-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}